* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65%;
  font-family: sans-serif;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  padding: 2rem;
  margin: 2rem;
  background: #218bff;
  border-radius: 1rem;
  box-shadow: 0 0 .5rem #000;
}

.title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  border-bottom: .2rem solid black;
  margin-bottom: 2rem;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  max-width: 28rem;
}

.input label {
  font: bold 2rem sans-serif;
}

.input input {
  width: 18rem;
  height: 5rem;
  border: none;
  outline: none;
  border-radius: .5rem;
  font: bold 2rem sans-serif;
  text-align: center;
}

#height, #weight {
  width: 12rem;
}

button {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .25rem;
  background: #1d1d1d;
  color: #fff;
  margin: 2rem 0;
  padding: 1rem 0;
  max-width: 28rem;
  border-radius: .5rem;
  cursor: pointer;
}

button:hover, button:active {
  background: #000;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  max-width: 28rem;
  height: 12rem;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem #000;
  color: #000;
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 390px) {
  main {
    align-items: baseline;
  }

  .title {
    font-size: 3rem;
  }
  
  .input {
    padding: 1rem 0;
  }

  .input label {
    font-size: 1.8rem;
  }

  .input input {
    width: calc(100% - 8rem);
  }
}